/* footer */
/*hanstar*/
footer {
    background: #E8D7C6;
    padding: 25px;
}

.footer_info {
    margin-top: 30px;
    margin-bottom: 40px;
}

.logo_blue img {
    width: 135px;
    height: 55px;
}

.media {
    gap: 10px;
    display: inline-flex;
}

.social a,
.link li a {
    font-family: "Roboto";
    color: #81972C;
    transition: 1s;
    display: block;
    font-size: 15px;
    margin: 15px 0;


}

.social a:hover {
    border-bottom: 1px solid #FFF;
}

.confident {
    display: flex;

}

.line {
    border-bottom: #D96E00 1px solid;
    width: 95%;
    margin: 15px 0;
}

.link {
    width: calc(100% / 4.2);
    gap: 65px;
}

.links {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
