/* footer */
/*hanstar*/
footer {
    background: #E8D7C6;
    padding: 25px;
}

.footer_info {
    margin-top: 30px;
    margin-bottom: 40px;
}

.logo_blue img {
    width: 135px;
    height: 55px;
}

.media {
    gap: 10px;
    display: inline-flex;
}

.social a,
.link li a {
    font-family: "Roboto";
    color: #81972C;
    transition: 1s;
    display: block;
    font-size: 15px;
    margin: 15px 0;


}

.social a:hover {
    border-bottom: 1px solid #FFF;
}

.confident {
    display: flex;

}

.line {
    border-bottom: #D96E00 1px solid;
    width: 95%;
    margin: 15px 0;
}

.link {
    width: calc(100% / 4.2);
    gap: 65px;
}

.links {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.beautiful_tit {
    width: 580PX;
    height: 415px;
    top: 73.25px;
    left: 79px;
    color: #D44DBE;
}

.beautiful_right {
    margin-top: 5%;
    width: 50%;
}

.beautiful {
    gap: 225px;
    display: flex;
    flex-wrap: nowrap;
}

.beautiful_txt {
    color: #B48DBE;
    margin: 11% 0 0;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
}

.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 14px auto;
    position: relative;
}

.star-rating input {
    display: none;
}

.star-rating>label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: #2723D3;
}

.star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
}

.star-rating label:active::before {
    transform: scale(1.1);
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star-rating input:checked~label:before {
    content: '\2605';
}

@-moz-document url-prefix() {
    .star-rating input:checked~label:before {
        font-size: 36px;
        line-height: 21px;
    }
}

.square:first-child {
    background: #2723D3;
}

.square {
    width: 16px;
    height: 16px;
    border: 1px solid #2723D3;
}

.squares {
    gap: 7px;
    justify-content: center;
    margin-bottom: 33px;
}

.led_cards {
    gap: 8%;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: center;
}

.led_card_txt {
    width: 230px;
    height: 71px;
    text-align: center;
    font-size: 24px;
    color: #2723D3;
    font-family: "Roboto";
}

.button_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.led_tit {
    color: #D44DBE;
    font-family: Nanum Brush Script;
    font-size: 53px;
    font-weight: 400;
    line-height: 65px;
    text-align: center;
    margin: 0 auto;
}

.arrow {
    width: 40%;
}

.guide_txt {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #D44DBE;
}

.guide_tit {
    font-family: Roboto;
    font-size: 41px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #D44DBE;
    width: 484px;
    margin: 7px 0 15px;
}

.dark {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    width: 478px;
    margin-bottom: 200px;
}

.guide_right {
    margin-top: -84px;
}

.cards {
    justify-content: center;
}

.guide_btn {
    border: 1px solid #D44DBE;
    border-radius: 22px;
    line-height: 42px;
    font-weight: 700;
    font-size: 12px;
    width: 27%;
    color: #D44DBE;
    transition: 0.3s;
}

.middle_img {
    position: absolute;
}

.birthday_right {
    margin-left: 116px;
    margin-top: 84px;
}

.birthday_left {
    margin-top: 80px;
}

.say_icon {
    width: 197px;
    height: 197px;
}

.say_tit {

    font-family: Ribeye Marrow;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #B48DBE;
    max-width: 634px;
    margin: 0 auto;
    margin-top: 30px;



}

.say_cards {
    display: flex;
    flex-wrap: nowrap;
}

.say_card_right {
    margin-left: 5%;
    margin-top: 6%;
}

.say_ic {
    margin-left: 41%;
}

img.rot {
    -webkit-animation: 13s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

