@media screen and (max-width: 1300px) {
	.container {
		max-width: 960px;
	}
	
	.beautiful {
		flex-wrap: wrap;
		justify-content: center;
	}

	.cards {
		flex-wrap: wrap;
		gap: 8%;
	}

	.middle_img {
		position: relative;
	}

	.birthday_right {
		margin: 0;
	}
	.beautiful{
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1270px) {
	.container {
		max-width: 750px;
	}

	.menu__box {
		margin-left: -440px;
		margin-top: -5px;
	}


}

@media screen and (max-width: 1190px) {
	.container {
		max-width: 750px;
	}

	.menu__box {
		margin-left: -340px;
		margin-top: -5px;
	}

	.main_tit {
		font-size: 50px;
	}

	.sellers_r,
	.sellers_l {
		width: 100%;
	}

	.btn_pink {
		margin-top: 30px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 990px) {
	.container {
		max-width: 750px;
	}

	.main_tit {
		font-size: 45px;
	}

	.logo {
		margin-left: 40px;
	}

	.menu__box {
		margin-left: -420px;
		margin-top: -5px;
	}

	.head {
		padding: 10px 0px;
	}

	.start_chart {
		display: flex;
		padding: 55px 30px;

	}

	.partners__items {
		-ms-grid-rows: (146px)[];
		grid-template-rows: repeat(3, 146px);
		-ms-grid-columns: (1fr)[];
		grid-template-columns: repeat(2, 1fr);
		margin-left: 60px;
		margin-right: 60px;
	}

	.partners__item {
		display: inline-block;
		width: 102%;
		height: 150px;
		border: 2px solid rgba(131, 131, 131, .7);
		border-top: 2px solid transparent;
		border-left: 2px solid transparent
	}

	.partners__item:last-child,
	.partners__item:nth-last-child(2) {
		border-bottom: 2px solid transparent
	}

	#menu__toggle {
		opacity: 0;
	}

	#menu__toggle:checked~.menu__btn>span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked~.menu__btn>span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked~.menu__btn>span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked~.menu__box {
		visibility: visible;
		left: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 20px;
		left: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;


	}

	.menu__btn>span,
	.menu__btn>span::before,
	.menu__btn>span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #b181ce;
		transition-duration: .25s;
	}

	.menu__btn>span::before {
		content: '';
		top: -8px;
	}

	.menu__btn>span::after {
		content: '';
		top: 8px;
	}

	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		background: rgba(246, 245, 245, 0.8);
		text-shadow: 1px 1px 1px #2e2d2d;
		transition-duration: .25s;
	}

	.menu__item {
		display: block;
		padding: 12px 24px;
		color: #222020;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		transition-duration: .25s;
	}

	.menu__box li:nth-child(4) {
		padding-left: 0;
	}

	.sec_tit {
		font-size: 43px;
	}

	.sellers_in {
		flex-direction: column;
	}

	.sellers_r,
	.sellers_l {
		width: 100%;
	}
	
	.say_cards {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 910px) {
	.container {
		max-width: 510px;
	}

	.mini_all {
		flex-direction: column;
	}

	.flip-box {
		width: 400px;
		height: 450px;
	}

	.links {
		flex-direction: column;
	}

	.link {
		width: 400px;
	}

	.flip-boxes {
		flex-direction: column;
	}

	.explore_tit {
		width: 90%;
	}

	.btn_pink {
		margin-top: 50px;
		width: 220px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 880px) {
	.container {
		max-width: 710px;
	}

	.MAIN_TEXT {
		margin-top: 130px;
	}

}

@media screen and (max-width: 780px) {
	.container {
		max-width: 510px;
	}

	.MAIN_TEXT {
		margin-top: 60px;
	}

	.sec_tit {
		font-size: 33px;
		margin-top: 20px;
	}

	.mini {
		width: 95%;
		background: #FCF1FF;
		margin: 0 auto;
		padding: 20px;
		margin-top: -30px;
	}
	
	.say_icon {
		width: 50%;
		height: 50%
	}
}


@media screen and (max-width: 540px) {
	.container {
		max-width: 420px;
	}

	.flip_box {
		width: 300px;
	}

	.link {
		width: 300px;
	}

	.flip-box {
		width: 300px;
	}
	.beautiful_tit {
		width: 486px;
	}

	.beautiful_txt {
		margin: 42% 0 0;
	}

	.guide_tit {
		width: 430px;
		text-align: center;
	}

	.dark {
		width: 420px;
		text-align: center;
	}

	.guide_txt {
		text-align: center;
	}
}

@media screen and (max-width: 450px) {
	.container {
		max-width: 100%;
	}

	.beautiful_tit {
		width: 399px;
	}

	.beautiful_txt {
		margin: 94% 0 0;
	}
}